<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-10 p-0 bg-hrms">
            <app-header></app-header>
            <div class="create-box">
                <div class="inner-box">
                    <h3 class="role-heading">Create Job</h3>
                    <form>
                        <input type="text" name="" id="" placeholder="compnay name"><br>
                        <input type="text" name="" id="" placeholder="compnay address">
                        <input type="text" name="" id="" placeholder="position title"><br>
                        <input type="text" name="" id="" placeholder="experience required">
                        <input type="text" name="" id="" placeholder="salary range"><br>
                        <input type="text" name="" id="" placeholder="role information">
                        <input type="text" name="" id="" placeholder="long description"><br>
                        <input type="date" name="" id="" placeholder="starting date">
                        <input type="date" name="" id="" placeholder="closing date"><br>
                        <input type="text" name="" id="" placeholder="select platform">
                        <button class="insert-role">Create Job</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
 </div>

