.home-heading {
  font-weight: bold;
  font-size: 72px;
  font-family: 'Abhaya Libre', serif;
}
.sub-text {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
}
.create-org {
  background: linear-gradient(180deg, #00a3ff 0%, #1559bf 100%);
  border-radius: 8px;
  color: #fff;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.login {
  color: #019ffb;
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  margin-left: 20px;
}
