 <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-10 p-0 bg-hrms">
            <app-header></app-header>
            <div class="create-box">
                <div class="inner-box">
                    <h3 class="role-heading">Create Role</h3>
                    <form>
                        <input type="text" name="" id="" placeholder="role name"><br>
                        <input type="text" name="" id="" placeholder="role information">
                        <button class="insert-role">Create Role</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
 </div>

