<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-10 p-0 bg-hrms">
            <app-header></app-header>
            <div class="create-box">
                <div class="inner-box">
                    <h3 class="role-heading">Edit User</h3>
                    <form>
                        <input type="text" name="" id="" value="Mark Willson"><br>
                        <input type="text" name="" id="" value="mark@email.com">
                        <input type="text" name="" id="" value="**********"><br>
                        <select>
                            <option value="Recruiter">Recruiter</option>
                            <option value="">Manager</option>
                        </select>
                        <button class="insert-role">Edit User</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
 </div>


